<form action="/work/create" method="POST" role="form" class="new">
	<div class="form-group">
	<h2>Add work for <%= user.name %> </h2>

<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>

	<div class="control-group" style = "width: 300px;">
	<label for=""> Company name</label>
	<input type="text" class="form-control" placeholder="company" name="company">
	</div>

	<div class="control-group" style = "width: 300px;">
	<label for=""> Direct Boss</label>
	<input type="text" class="form-control" placeholder="boss" name="boss">
	</div>

	<div class="control-group" style = "width: 300px;">
	<label for=""> Months Worked</label>
	<input type="text" class="form-control" placeholder="time" name="time">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="hidden" value="<%= user.id %>"  name="owner">
	</div>

	</div>
	<input type="submit" value="Submit" class="btn btn-default"/> |
	<a href="/pump">Back to  pumps</a>
</form>
