<form action="/customer/update/<%=user.id%>" method="POST" class="edit">
	<div class="form-group">
	<h2>Edit a customer</h2>


	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" value="<%= user.name %>" name="name">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" value="<%= user.email %>" name="email">
	</div>

  <div class="control-group" style = "width: 300px;">
  <input type="text" class="form-control" value="<%= user.state %>" name="state">
  </div>

	</div>
	<input type="submit" value="Edit Customer" class="btn btn-default"/> |
	<a href="/customer">Back to list</a>
</form>
