<form action="/customer/create" method="POST" >
	<div class="form-group">
	<h2>Create a customer</h2>


	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="name" name="name">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="email" name="email">
	</div>

  <div class="control-group" style = "width: 300px;">
  <input type="text" class="form-control" placeholder="state" name="state">
  </div>

	</div>
	<input type="submit" value="Create Customer" class="btn btn-default"/> |
	<a href="/customer">Back to list</a>
</form>
